FORMAT: 1A
HOST: https://api.20i.com/

# 20i.com Reseller API

The 20i Reseller API gives you access to all the features and functionality of StackCP, allowing you to create a hosting control panel from scratch or integrate external services such as WHMCS. This is for advanced users and the support we provide for the Reseller API is service-based only.

Where a URL needs an ID, this is typically an ID that you would get in the list method, but for some types alternative references may be supported:

domain: The domain name
package: A domain name on the package
reseller: * to indicate yourself
In general you should use the allocated ID instead as that will be more reliable for cases like moving names between packages.

POSTs to approporiate endpoints can be either plain form (application/x-www-form-urlencoded or multipart/form-data) encoded as with PHP's http_build_query() or a JSON object (application/json).

For example, to add a new web site, a form-style request could look like this:

```
    POST /reseller/*/addWeb HTTP/1.1
    Host: api.20i.com
    Authorization: Bearer ZTRkNGZkMzFhNTJkY2FlMwo=
    Content-Type: application/x-www-form-urlencoded

    type=1234&domain_name=example.org&extra_domain_names[]=example.net&documentRoots[example.org]=public_html
```
Or in JSON:
```
    POST /reseller/*/addWeb HTTP/1.1
    Host: api.20i.com
    Authorization: Bearer ZTRkNGZkMzFhNTJkY2FlMwo=
    Content-Type: application/json

    {
      "type": "1234",
      "domain_name": "example.org",
      "extra_domain_names": ["example.net"],
      "documentRoots": {
        "example.org": "public_html"
      }
    }
```
Example Script: This PHP script is an example of how to just get code working and using the 20i Reseller API, download the [20i Module](https://my.20i.com/composer/api-modules-1.0.6.zip) and unzip the archive. Then create a test.php file with the following.  When you run this code your should see all your package types dumped to the output window.

```
    <?php

    include('lib/TwentyI/API/REST.php');
    include('lib/TwentyI/API/Services.php');

    $general_api_key = "API_KEY";
    $services_api = new \TwentyI\API\Services($general_api_key);

    $packageTypes = $services_api->getWithFields("/reseller/*/packageTypes");
    trigger_error( print_r($packageTypes,true) );
```

# Group Account & Settings



## Account Balance [/reseller/{resellerId}/accountBalance]

### Retreive Account Balance [GET]

The "Retrieve Account Balance" API endpoint allows you to retrieve the balance data of your reseller account in 20i. This API call is used to obtain information about the current available balance in your account.

Upon successful execution of the API call, the response will return an array containing the account balance data, including the current balance available in your reseller account.

Please note that this API endpoint is designed to provide access to the account balance information within the 20i platform. It allows you to retrieve the current available balance, which can be useful for monitoring and managing your reseller account's financial status.

```
    <?php
    $general_api_key = "API_KEY";
    $services_api = new \TwentyI\API\Services($general_api_key);

    $request = $services_api->getWithFields("/reseller/{resellerId}/accountBalance");
```
+ Parameters

    + resellerId: 1 (number, required) - Your reseller ID.



     
+ Request

    + Headers

            Authorization: Bearer token



+ Response 200 (application/json)

    + Body

            
                {
                    balance: "string"
                }
            


## Reseller Settings [/reseller/{resellerId}]

### Set/Update reseller settings [POST]

The "Set/Update reseller settings" API endpoint allows you to update the settings of a reseller account using the 20i API. This API call is used to modify various settings related to the reseller account.

To update the reseller settings, you need to provide the following parameters in the request payload:

Upon successful execution of the API call, the response will return a boolean value indicating whether any of the settings were successfully saved. If at least one setting was modified and saved, the response will be true.

It's important to note that these settings are specific to the reseller account and will affect the behavior of the associated reseller features and services.

Please ensure that you review the API documentation for more detailed information on the parameters and their usage.


- `malwareEmails`: A boolean value indicating whether the reseller has opted into receiving malware-related emails.
- `malwareEmailsStackCpUsers`: A boolean value indicating whether the associated StackCP users of the reseller have opted into receiving malware-related emails.
- `migrationCompleteEmails`: A boolean value indicating whether the reseller has opted into receiving emails notifying them about completed migrations.
- `domainAutoRenewDefault`: A boolean value indicating the default auto-renewal behavior for domains. If set to true, domains will be set to auto-renew; if set to false, domains will be set to cancel upon renewal.

- `malwareEmails`: A boolean value indicating whether the reseller has opted into receiving malware-related emails.
- `malwareEmailsStackCpUsers`: A boolean value indicating whether the associated StackCP users of the reseller have opted into receiving malware-related emails.
- `migrationCompleteEmails`: A boolean value indicating whether the reseller has opted into receiving emails notifying them about completed migrations.
- `domainAutoRenewDefault`: A boolean value indicating the default auto-renewal behavior for domains. If set to true, domains will be set to auto-renew; if set to false, domains will be set to cancel upon renewal.
```
    <?php
    $general_api_key = "API_KEY";
    $services_api = new \TwentyI\API\Services($general_api_key);

    $request = $services_api->postWithFields("/reseller/{resellerId}", [
            "malwareEmails" => true,
            "malwareEmailsStackCpUsers" => true,
            "migrationCompleteEmails" => true,
            "domainAutoRenewDefault" => true
    ]);
```
+ Parameters

    + resellerId: 1 (number, required) - Your reseller ID.


+ Attributes

    + `malwareEmails` (boolean,required) - whether opted into malware emails
    + `malwareEmailsStackCpUsers` (boolean,required) - whether opted into malware emails for associated StackCP users
    + `migrationCompleteEmails` (boolean,required) - Wether opted into migration complete emails
    + `domainAutoRenewDefault` (boolean,required) - True to auto renew, false to cancel on renewal
     
+ Request (application/json)

    + Headers

            Authorization: Bearer token

    + Body

            {
                    malwareEmails: true,
                    malwareEmailsStackCpUsers: true,
                    migrationCompleteEmails: true,
                    domainAutoRenewDefault: true
            }

+ Response 200 (application/json)

    + Body

            
                true
            


## Services [/reseller/{resellerId}/serviceChangeData]

### Retrieve Known Service Change Requests [GET]

The "Retrieve Known Service Change Requests" API endpoint allows you to retrieve the known service change requests and their current status.
A service change request refers to the process of moving a package from one service level, such as "linux", to another service level, such as "windows".
This API call provides information about the existing service change requests and their relevant details.

The response from this API call will be an array of objects, where each object represents a service change request. Each object contains the following information:


Please note that this API endpoint is designed to provide access to the known service change requests and their corresponding details within the 20i platform.
It allows you to retrieve information about the service level changes that have been requested or are in progress.

This API endpoint falls under the "Services" section and serves as a means to retrieve the known service change requests and their current status.


- `id`: The unique identifier of the service change request.
- `name`: The name associated with the service change request.
- `jobId`: The job ID associated with the service change request.
- `status`: The current status of the service change request.
- `oldServiceLevel`: The previous service level of the package.
- `newServiceLevel`: The new service level to which the package is being moved.
- `packageId`: The ID of the package undergoing the service level change.
- `resellerId`: (Optional) The ID of the reseller associated with the service change request.
- `newPackageBundleTypeId`: (Optional) The ID of the new package bundle type.
- `createdAt`: (Optional) The timestamp indicating when the service change request was created.
- `updatedAt`: (Optional) The timestamp indicating the last update time of the service change request.

- `id`: The unique identifier of the service change request.
- `name`: The name associated with the service change request.
- `jobId`: The job ID associated with the service change request.
- `status`: The current status of the service change request.
- `oldServiceLevel`: The previous service level of the package.
- `newServiceLevel`: The new service level to which the package is being moved.
- `packageId`: The ID of the package undergoing the service level change.
- `resellerId`: (Optional) The ID of the reseller associated with the service change request.
- `newPackageBundleTypeId`: (Optional) The ID of the new package bundle type.
- `createdAt`: (Optional) The timestamp indicating when the service change request was created.
- `updatedAt`: (Optional) The timestamp indicating the last update time of the service change request.
```
    <?php
    $general_api_key = "API_KEY";
    $services_api = new \TwentyI\API\Services($general_api_key);

    $request = $services_api->getWithFields("/reseller/{resellerId}/serviceChangeData");
```
+ Parameters

    + resellerId: 1 (number, required) - Your reseller ID.



     
+ Request

    + Headers

            Authorization: Bearer token



+ Response 200 (application/json)

    + Body

            [
                {
                    id: "string",
                    name: "string",
                    jobId: "string",
                    status: "string",
                    oldServiceLevel: "string",
                    newServiceLevel: "string",
                    packageId: "string",
                    resellerId: "string",
                    newPackageBundleTypeId: "string",
                    createdAt: "string",
                    updatedAt: "string"
                }
            ]


# Group Order & Renew Services



## Order Domain Name [/reseller/{resellerId}/addDomain]

### Register a Domain Name [POST]

Registers a new domain name and charges the registration fee to your account balance.
Domain privacy can be added in the same request via `privacyService`.

> **Warning:** Non-ASCII domain names will be rejected. Internationalised
> domain names (IDNs) are not supported.

> **Note (`.uk` privacy):** For `.uk` domains, `privacyService` is a
> chargeable add-on and is distinct from simply suppressing WHOIS disclosure.

> **Note (CA domains):** Set `caRegistryAgreement: true` only after the
> registry agreements have been presented to and accepted by the registrant.

> **Note see contact attribute for extension registry-specific contact data

```
    <?php
    $general_api_key = "API_KEY";
    $services_api = new \TwentyI\API\Services($general_api_key);

    $request = $services_api->postWithFields("/reseller/{resellerId}/addDomain", [
            "name" => "string",
            "caRegistryAgreement" => true,
            "contact" => [
                "organisation" => "string",
                "name" => "string",
                "address" => "string",
                "telephone" => "string",
                "email" => "string",
                "cc" => "string",
                "pc" => "string",
                "sp" => "string",
                "city" => "string",
                "extension" => [
                    "type" => "string",
                    "trad-name" => "string",
                    "co-no" => "string",
                    "language" => "string",
                    "cro-number" => "string",
                    "nationality-code" => "string",
                    "reg_code" => "string",
                    "country_of_citizenship" => "string",
                    "eligibility_type" => "string",
                    "eligibility_name" => "string",
                    "eligibility_id_type" => "string",
                    "eligibility_id" => "string",
                    "registrant_id_type" => "string",
                    "registrant_id" => "string",
                    "policy_reason" => "string",
                    "es_id_type" => "string",
                    "es_id_number" => "string",
                    "date_of_birth" => "string",
                    "registrant_vat_id" => "string",
                    "registration_number" => "string",
                    "tax_number" => "string",
                    "br_register_number" => "string",
                    "fax" => "string"
                ]
            ],
            "limits" => [
            ],
            "otherContacts" => [
                "(type)" => [
                    "name" => "string",
                    "organisation" => "string",
                    "address" => "string",
                    "city" => "string",
                    "sp" => "string",
                    "pc" => "string",
                    "cc" => "string",
                    "telephone" => "string",
                    "email" => "string",
                    "extension" => [
                    ]
                ]
            ],
            "nameservers" => ["string"],
            "privacyService" => true,
            "stackUser" => "string"
    ]);
```
+ Parameters

    + resellerId: 1 (number, required) - Your reseller ID.


+ Attributes

    + `name` (string,required) - The domain name to register. Must be ASCII only.
    + `caRegistryAgreement` (boolean,nullable) - If registry agreementshave been shown and agreed to
    + `contact` (object,required) - This is slightly different from updating domain
        contacts, as noted.
        - `organisation` (string,required) - As $org when updatingdomain contacts
        - `name` (string,required) - As updating domain contacts
        - `address` (string,required) - Newline-separated lines withpossible trailling commas. At most 3 lines are
            allowed.
        - `telephone` (string,required) - As $voice when updatingdomain contacts
        - `email` (string,required) - As updating domain contacts
        - `cc` (string,required) - As updating domain contacts
        - `pc` (string,required) - As updating domain contacts
        - `sp` (string,nullable) - As updating domain contacts
        - `city` (string,required) - As updating domain contacts
        - `extension` (object,nullable) - Registry-specific contact data. Required fields depend on the TLD.
            - `type` (string,nullable) - Registrant type. Required for `.uk` family(Nominet: `IND`, `LTD`, `PLC`, `PTNR`, `LLP`, `SCH`, `RCHAR`,
                `GOV`, `CRC`, `STAT`, `OTHER`), `.ie` (Titan), and most Tucows
                ccTLDs. How the value is forwarded to the registry depends on
                the TLD: `.ca` uses `legal_type`; `.au`/`.com.au`/`.org.au` use
                `eligibility_type`; `.dk` normalises to `"individual"` or
                `"business"`; `.es` uses `es_id_type`; `.us` uses `app_purpose`;
                `.cl`, `.de`, `.fi`, `.hu`, `.lv`, `.mx`, `.my`, `.nu`, `.pt`,
                `.com.pt`, `.re`, `.ro`, `.com.ro`, `.se`, `.za`, `.co.za` use
                `registrant_type`; all other Tucows TLDs use `entity_type`.
            - `trad-name` (string,nullable) - (`.uk` family) Trading name whendifferent from the registered organisation name
            - `co-no` (string,nullable) - (`.uk` family and Tucows) Companyregistration number. Ignored for Nominet when `type` is `OTHER`.
            - `language` (string,nullable) - (`.ie` and Tucows) Language code,e.g. `"EN"`. Uppercased automatically.
            - `cro-number` (string,nullable) - (`.ie` and Tucows) CRO number
            - `nationality-code` (string,nullable) - (Tucows) Nationality code
            - `reg_code` (string,nullable) - (Tucows) Registration code
            - `country_of_citizenship` (string,nullable) - (Tucows) Country ofcitizenship
            - `eligibility_type` (string,nullable) - (`.au` family) auDA eligibilitycategory
            - `eligibility_name` (string,nullable) - (`.au` family) Eligibilityentity name
            - `eligibility_id_type` (string,nullable) - (`.au` family) EligibilityID type
            - `eligibility_id` (string,nullable) - (`.au` family) Eligibility ID
            - `registrant_id_type` (string,nullable) - (`.au` family) RegistrantID type
            - `registrant_id` (string,nullable) - (`.au` family) Registrant ID
            - `policy_reason` (string,nullable) - (`.au` family) Policy reason code
            - `es_id_type` (string,nullable) - (`.es`) Spanish identity document type
            - `es_id_number` (string,nullable) - (`.es`) Spanish identity documentnumber
            - `date_of_birth` (string,nullable) - (`.fi`) Registrant date of birth
            - `registrant_vat_id` (string,nullable) - (`.se`, `.ro`, `.hu`) VAT ID
            - `registration_number` (string,nullable) - (`.se`, `.ro`) Companyregistration number
            - `tax_number` (string,nullable) - (Tucows) Tax number
            - `br_register_number` (string,nullable) - (`.com.br`) CPF or CNPJ
            - `fax` (string,nullable) - (`.no` and other Tucows TLDs) Fax number}
    + `limits` (object,nullable) - A limit code to value map, see domain limits
    + `otherContacts` (object,nullable) - 
        - ``type`` (object,required) - These may be ignored for some transfers.
            - `name` (string,required) - 
            - `organisation` (string,required) - 
            - `address` (string,required) - Newline-separated lines withpossible trailling commas. At most 3 lines are
                allowed.
            - `city` (string,required) - 
            - `sp` (string,required) - 
            - `pc` (string,required) - 
            - `cc` (string,required) - Country in ISO3166-alpha2 format
            - `telephone` (string,required) - 
            - `email` (string,required) - 
            - `extension` (object,nullable) - As updating domain contacts
    + `nameservers` (array[string],nullable) - Nameserver hostnames, eg "ns.example.org". Otherwise you
        get defaults.
        Ignored for UK transfers.
    + `privacyService` (boolean,required) - If true, this will add domain privacy toyour order. This may not be applicable to some TLDs. Please
        note that for .UK this is a chargeable service which is
        different from turning off disclosure.
    + `stackUser` (string,nullable) - A stack user to grant access to, eg."stack-user:123"
     
+ Request (application/json)

    + Headers

            Authorization: Bearer token

    + Body

            {
                    name: "string",
                    caRegistryAgreement: true,
                    contact:{
                        organisation: "string",
                        name: "string",
                        address: "string",
                        telephone: "string",
                        email: "string",
                        cc: "string",
                        pc: "string",
                        sp: "string",
                        city: "string",
                        extension:{
                            type: "string",
                            trad-name: "string",
                            co-no: "string",
                            language: "string",
                            cro-number: "string",
                            nationality-code: "string",
                            reg_code: "string",
                            country_of_citizenship: "string",
                            eligibility_type: "string",
                            eligibility_name: "string",
                            eligibility_id_type: "string",
                            eligibility_id: "string",
                            registrant_id_type: "string",
                            registrant_id: "string",
                            policy_reason: "string",
                            es_id_type: "string",
                            es_id_number: "string",
                            date_of_birth: "string",
                            registrant_vat_id: "string",
                            registration_number: "string",
                            tax_number: "string",
                            br_register_number: "string",
                            fax: "string"
                        }
                    },
                    limits:{
                    },
                    otherContacts:{
                        (type):{
                            name: "string",
                            organisation: "string",
                            address: "string",
                            city: "string",
                            sp: "string",
                            pc: "string",
                            cc: "string",
                            telephone: "string",
                            email: "string",
                            extension:{
                            }
                        }
                    },
                    nameservers: ["string"],
                    privacyService: true,
                    stackUser: "string"
            }

+ Response 200 (application/json)

    + Body

            
                true
            


## Order Mailbox Quota Add-on [/reseller/{resellerId}/addMailboxQuotaAddon]

### Order Mailbox Quota Add-on [POST]

Orders a mailbox quota add-on for an existing mailbox and charges your
account balance. Each add-on increases that mailbox's quota by 10 GB and
is bought on a fixed 12 month term. Call it more than once to add further
10 GB blocks to the same mailbox.
Returns the new add-on ID on success.

> **Warning:** This charges your account balance immediately.
> If you have insufficient funds the call will fail and no service will be created.

```
    <?php
    $general_api_key = "API_KEY";
    $services_api = new \TwentyI\API\Services($general_api_key);

    $request = $services_api->postWithFields("/reseller/{resellerId}/addMailboxQuotaAddon", [
            "mailbox" => "string",
            "configuration" => [
                "id" => "string",
                "local" => "string",
                "domain" => "string",
                "forUser" => "string"
            ],
            "forUser" => "string"
    ]);
```
+ Parameters

    + resellerId: 1 (number, required) - Your reseller ID.


+ Attributes

    + `mailbox` (string,required) - The full address of the mailbox being topped up, e.g. `"info@example.com"`
    + `configuration` (object,required) - 
        - `id` (string,required) - The existing mailbox ID, e.g. `"m11111"`
        - `local` (string,required) - The local part of the mailbox address (before the `@`)
        - `domain` (string,required) - The domain part of the mailbox address (after the `@`)
        - `forUser` (string,nullable) - Stack user tuple that owns the mailbox, e.g. `"stack-user:123"`
    + `forUser` (string,nullable) - Stack user tuple to assign the add-on to, e.g. `"stack-user:123"`
     
+ Request (application/json)

    + Headers

            Authorization: Bearer token

    + Body

            {
                    mailbox: "string",
                    configuration:{
                        id: "string",
                        local: "string",
                        domain: "string",
                        forUser: "string"
                    },
                    forUser: "string"
            }

+ Response 200 (application/json)

    + Body

            
                string
            


## Order Managed VPS [/reseller/{resellerId}/addManagedVps]

### Order a Managed VPS [POST]

Orders a new Managed VPS and charges your account balance.
Returns the new Managed VPS ID on success.

> **Warning:** This charges your account balance immediately.
> If you have insufficient funds the call will fail and no service will be created.

> **Note:** Valid product spec identifiers and OS codes can be retrieved
> from the product catalogue endpoints.

```
    <?php
    $general_api_key = "API_KEY";
    $services_api = new \TwentyI\API\Services($general_api_key);

    $request = $services_api->postWithFields("/reseller/{resellerId}/addManagedVps", [
            "configuration" => [
                "Name" => "string",
                "ApplicationId" => "string",
                "location" => "string"
            ],
            "options" => [
                "os" => "string"
            ],
            "periodMonths" => 1,
            "type" => "string",
            "forUser" => "string"
    ]);
```
+ Parameters

    + resellerId: 1 (number, required) - Your reseller ID.


+ Attributes

    + `configuration` (object,required) - 
        - `Name` (string,required) - Display name for the Managed VPS
        - `ApplicationId` (string,required) - Application ID to pre-install on provisioning
        - `location` (string,required) - Data centre location, e.g. `"dc_location-lhr"`
    + `options` (object,required) - 
        - `os` (string,required) - Operating system code to install
    + `periodMonths` (number,required) - Billing period. Either `1` (monthly) or `12` (annual).
    + `type` (string,required) - Product spec identifier, e.g. `"web-managedvps1set1"`
    + `forUser` (string,nullable) - Stack user tuple to assign the server to,e.g. `"stack-user:113"`
     
+ Request (application/json)

    + Headers

            Authorization: Bearer token

    + Body

            {
                    configuration:{
                        Name: "string",
                        ApplicationId: "string",
                        location: "string"
                    },
                    options:{
                        os: "string"
                    },
                    periodMonths: 1,
                    type: "string",
                    forUser: "string"
            }

+ Response 200 (application/json)

    + Body

            
                true
            


## Order MSSQL Databases [/reseller/{resellerId}/addMssql]

### Order an MSSQL Database [POST]

Orders one MSSQL database allowance and charges your account balance.
Once ordered, the allowance must be assigned to a hosting package before it can be used.

> **Warning:** This charges your account balance immediately.
> If you have insufficient funds the call will fail and no service will be created.

```
    <?php
    $general_api_key = "API_KEY";
    $services_api = new \TwentyI\API\Services($general_api_key);

    $request = $services_api->postWithFields("/reseller/{resellerId}/addMssql", [
    ]);
```
+ Parameters

    + resellerId: 1 (number, required) - Your reseller ID.


+ Attributes

    
     
+ Request (application/json)

    + Headers

            Authorization: Bearer token

    + Body

            {
            }

+ Response 200 (application/json)

    + Body

            
                true
            


## Order Premium Mailbox [/reseller/{resellerId}/addPremiumMailbox]

### Order Premium Mailbox [POST]

Orders a Premium Mailbox and charges your account balance.
Returns the new mailbox ID on success.

> **Warning:** This charges your account balance immediately.
> If you have insufficient funds the call will fail and no service will be created.

```
    <?php
    $general_api_key = "API_KEY";
    $services_api = new \TwentyI\API\Services($general_api_key);

    $request = $services_api->postWithFields("/reseller/{resellerId}/addPremiumMailbox", [
            "configuration" => [
                "id" => "string",
                "local" => "string",
                "domain" => "string"
            ],
            "forUser" => "string"
    ]);
```
+ Parameters

    + resellerId: 1 (number, required) - Your reseller ID.


+ Attributes

    + `configuration` (object,required) - 
        - `id` (string,required) - The existing mailbox ID to upgrade, e.g. `"m11111"`
        - `local` (string,required) - The local part of the mailbox address (before the `@`)
        - `domain` (string,required) - The domain part of the mailbox address (after the `@`)
    + `forUser` (string,nullable) - Stack user tuple to assign the mailbox to,e.g. `"stack-user:123"`
     
+ Request (application/json)

    + Headers

            Authorization: Bearer token

    + Body

            {
                    configuration:{
                        id: "string",
                        local: "string",
                        domain: "string"
                    },
                    forUser: "string"
            }

+ Response 200 (application/json)

    + Body

            
                string
            


## Order SSL Certificates [/reseller/{resellerId}/addTlsCertificate]

### Order an SSL Certificate [POST]

Orders a TLS certificate and charges your account balance.
Returns the new certificate service ID on success.

> **Warning:** This charges your account balance immediately.
> If you have insufficient funds the call will fail and no service will be created.

```
    <?php
    $general_api_key = "API_KEY";
    $services_api = new \TwentyI\API\Services($general_api_key);

    $request = $services_api->postWithFields("/reseller/{resellerId}/addTlsCertificate", [
            "class-code" => "string",
            "name" => "string",
            "periodMonths" => 1,
    ]);
```
+ Parameters

    + resellerId: 1 (number, required) - Your reseller ID.


+ Attributes

    + `class-code` (string,required) - The certificate product type. One of:`tucows-rapidssl` (Simple SSL),
        `tucows-rapidssl_wildcard` (Wildcard SSL),
        `tucows-truebizid_ev` (Extended Validation SSL).
    + `name` (string,required) - The domain name the certificate is for, e.g. `"example.com"`
    + `periodMonths` (number,required) - Certificate duration in months, e.g. `12`
    + `configuration` (object,required) - Additional certificate configuration. Options varyby certificate type â€” contact your account manager for details.
     
+ Request (application/json)

    + Headers

            Authorization: Bearer token

    + Body

            {
                    class-code: "string",
                    name: "string",
                    periodMonths: 1,
            }

+ Response 200 (application/json)

    + Body

            
                string
            


## Order VPS [/reseller/{resellerId}/addVPS]

### Order a VPS [POST]

Orders a new VPS and charges your account balance. Returns the new VPS ID on success.
If `cpanel` is provided, a cPanel licence is ordered and attached automatically.

> **Warning:** This charges your account balance immediately.
> If you have insufficient funds the call will fail and no service will be created.

> **Note:** Available OS codes and VPS type identifiers can be retrieved
> from the product catalogue endpoints.

```
    <?php
    $general_api_key = "API_KEY";
    $services_api = new \TwentyI\API\Services($general_api_key);

    $request = $services_api->postWithFields("/reseller/{resellerId}/addVPS", [
            "configuration" => [
                "ApplicationId" => "string",
                "Name" => "string",
                "location" => "string"
            ],
            "forUser" => "string",
            "options" => [
                "os" => "string"
            ],
            "periodMonths" => 1,
            "type" => "string",
            "cpanel" => "string"
    ]);
```
+ Parameters

    + resellerId: 1 (number, required) - Your reseller ID.


+ Attributes

    + `configuration` (object,required) - 
        - `ApplicationId` (string,nullable) - Optional application ID to associate with the VPS.
        - `Name` (string,required) - Display name for the VPS, e.g. `"vps-1234"`
        - `location` (string,nullable) - Data centre location, e.g. `"dc_location-lhr"` or `"dc_location-dfw"`
    + `forUser` (string,nullable) - Stack user tuple to assign the VPS to, e.g. `"stack-user:588"`
    + `options` (object,required) - 
        - `os` (string,required) - Operating system code, e.g. `"rhel6"`. OS choice may affect the price.
    + `periodMonths` (number,required) - Contract duration in months
    + `type` (string,required) - VPS product type, e.g. `"vps-e"`
    + `cpanel` (string,nullable) - If set, orders and attaches a cPanel licence. One of:`cpaneladmin`, `cpanelplus`, `cpanelpro`, `cpanelpremier`, `cpanelpremiercloud`.
     
+ Request (application/json)

    + Headers

            Authorization: Bearer token

    + Body

            {
                    configuration:{
                        ApplicationId: "string",
                        Name: "string",
                        location: "string"
                    },
                    forUser: "string",
                    options:{
                        os: "string"
                    },
                    periodMonths: 1,
                    type: "string",
                    cpanel: "string"
            }

+ Response 200 (application/json)

    + Body

            
                true
            


## Order VPS Add-on [/reseller/{resellerId}/addVpsAddon]

### Order a VPS Add-on [POST]

Orders an add-on for an existing VPS or Managed VPS and charges your
account balance. The add-on is attached to the server given by
`configuration.vpsRef` and gets its own contract, so it renews
separately from the server itself.
Returns the new add-on ID on success.

> **Warning:** This charges your account balance immediately.
> If you have insufficient funds the call will fail and no service will be created.

> **Note:** `periodMonths` must match a billing period the product is
> sold on. Backups are sold monthly, IP addresses yearly, and disk and
> cPanel add-ons are sold either way.

```
    <?php
    $general_api_key = "API_KEY";
    $services_api = new \TwentyI\API\Services($general_api_key);

    $request = $services_api->postWithFields("/reseller/{resellerId}/addVpsAddon", [
            "configuration" => [
                "vpsRef" => "string"
            ],
            "forUser" => "string",
            "options" => [
                "vpsType" => "string"
            ],
            "periodMonths" => 1,
            "productSpec" => "string",
            "serviceType" => "string"
    ]);
```
+ Parameters

    + resellerId: 1 (number, required) - Your reseller ID.


+ Attributes

    + `configuration` (object,required) - 
        - `vpsRef` (string,required) - The ID of the VPS or Managed VPS to attach the add-on to, e.g. `"1234"`
    + `forUser` (string,nullable) - Stack user tuple to assign the add-on to, e.g. `"stack-user:588"`
    + `options` (object,nullable) - Only used by `vps_addon-backup`, where it is required.
        - `vpsType` (string,required) - The product type of the VPS being backed up, without the `vps-` prefix, e.g. `"e"` for a `vps-e`
    + `periodMonths` (number,required) - Contract duration in months
    + `productSpec` (string,required) - The add-on product specification code. One of:
             +  `vps_addon-backup` â€” timeline backups for the VPS
             +  `vps_addon-ip_address` â€” an additional IP address
             +  `vps_addon-disk{size}GB` â€” an additional disk, where `size` is 50-250 in steps of 10, 250-1000 in steps of 50, or 1000-2000 in steps of 100, e.g. `vps_addon-disk500GB`
             +  `vps_addon-cpanel7`, `vps_addon-cpaneladmin`, `vps_addon-cpanelplus`, `vps_addon-cpanelpro`, `vps_addon-cpanelpremier` or `vps_addon-cpanelpremiercloud` â€” a cPanel licence
    + `serviceType` (string,required) - Always `"vps_addon"`. Other service types will not return an ID.
     
+ Request (application/json)

    + Headers

            Authorization: Bearer token

    + Body

            {
                    configuration:{
                        vpsRef: "string"
                    },
                    forUser: "string",
                    options:{
                        vpsType: "string"
                    },
                    periodMonths: 1,
                    productSpec: "string",
                    serviceType: "string"
            }

+ Response 200 (application/json)

    + Body

            
                string
            


## Order Website Turbo Credits [/reseller/{resellerId}/addWebsiteTurboCredits]

### Order Credits [POST]

Orders one or more Website Turbo credits and charges your account balance.
Once purchased, credits can be assigned to hosting packages.

> **Warning:** This charges your account balance immediately.
> If you have insufficient funds the call will fail and no credits will be created.

> **Note:** A maximum of `10` credits can be ordered per request.
> Enterprise resellers with invoicing enabled are billed separately.

```
    <?php
    $general_api_key = "API_KEY";
    $services_api = new \TwentyI\API\Services($general_api_key);

    $request = $services_api->postWithFields("/reseller/{resellerId}/addWebsiteTurboCredits", [
            "quantity" => 1
    ]);
```
+ Parameters

    + resellerId: 1 (number, required) - Your reseller ID.


+ Attributes

    + `quantity` (number,required) - Number of Website Turbo credits to order. Maximum `10` per request.
     
+ Request (application/json)

    + Headers

            Authorization: Bearer token

    + Body

            {
                    quantity: 1
            }

+ Response 200 (application/json)

    + Body

            
                true
            


## Renew Domain Name [/reseller/{resellerId}/renewDomain]

### Renew a Domain Name [POST]

The "Renew a Domain Name" API endpoint allows you to renew a domain name. This operation charges the appropriate registration fee to your 20i Balance. If you do not have sufficient balance, the renewal will fail.

To use this API, you need to provide the following parameters:

$in: An array containing the following information:
renewPrivacy (optional): A boolean value indicating whether to renew the associated privacy for the domain. By default, this parameter is set to false.

The API call will return a boolean value indicating the success or failure of the domain renewal operation. A value of true indicates that the domain was renewed successfully, while false indicates a failure.

It's important to note that this API endpoint charges the registration fee for the domain renewal from your 20i Balance. Therefore, make sure you have sufficient balance before attempting to renew a domain.

This API endpoint is useful when you want to automate the domain renewal process and ensure that your domains are renewed for the desired number of years.


- `name`: The domain name that you want to renew.
- `years`: The number of years for which you want to renew the domain.

- `name`: The domain name that you want to renew.
- `years`: The number of years for which you want to renew the domain.
```
    <?php
    $general_api_key = "API_KEY";
    $services_api = new \TwentyI\API\Services($general_api_key);

    $request = $services_api->postWithFields("/reseller/{resellerId}/renewDomain", [
            "name" => "string",
            "years" => 1,
            "renewPrivacy" => true
    ]);
```
+ Parameters

    + resellerId: 1 (number, required) - Your reseller ID.


+ Attributes

    + `name` (string,required) - The domain name
    + `years` (number,required) - 
    + `renewPrivacy` (boolean,nullable) - Renew the associated privacy.  Defaults to false
     
+ Request (application/json)

    + Headers

            Authorization: Bearer token

    + Body

            {
                    name: "string",
                    years: 1,
                    renewPrivacy: true
            }

+ Response 200 (application/json)

    + Body

            
                true
            


## Renew Managed VPS [/reseller/{resellerId}/renewManagedVPS]

### Renew Managed VPS [POST]

Renews an existing Managed VPS subscription and charges your account balance.

> **Warning:** This charges your account balance immediately.
> If you have insufficient funds the call will fail and the Managed VPS will not be renewed.

```
    <?php
    $general_api_key = "API_KEY";
    $services_api = new \TwentyI\API\Services($general_api_key);

    $request = $services_api->postWithFields("/reseller/{resellerId}/renewManagedVPS", [
            "id" => "string",
            "periodMonths" => 1
    ]);
```
+ Parameters

    + resellerId: 1 (number, required) - Your reseller ID.


+ Attributes

    + `id` (string,required) - The ID of the Managed VPS to renew
    + `periodMonths` (number,required) - Number of months to renew for
     
+ Request (application/json)

    + Headers

            Authorization: Bearer token

    + Body

            {
                    id: "string",
                    periodMonths: 1
            }

+ Response 200 (application/json)

    + Body

            
                true
            


## Renew MSSQL Databases [/reseller/{resellerId}/renewMssql]

### Renew an MSSQL database [POST]

The "Renew MSSQL Databases" API endpoint allows you to renew an MSSQL database by providing its ID. This API call is used to extend the validity or registration of an existing MSSQL database.

To renew an MSSQL database, you need to provide the following parameter in the request payload:

Upon successful execution of the API call, the response will return a boolean value indicating the success of the renewal operation. The value true indicates that the MSSQL database was successfully renewed.

Please note that this API endpoint is designed for renewing MSSQL databases with 20i. It handles the renewal process by charging the appropriate fees and verifying the availability of funds in your 20i account.


- `id`: The ID of the MSSQL database that you want to renew.

- `id`: The ID of the MSSQL database that you want to renew.
```
    <?php
    $general_api_key = "API_KEY";
    $services_api = new \TwentyI\API\Services($general_api_key);

    $request = $services_api->postWithFields("/reseller/{resellerId}/renewMssql", [
            "id" => "string"
    ]);
```
+ Parameters

    + resellerId: 1 (number, required) - Your reseller ID.


+ Attributes

    + `id` (string,required) - 
     
+ Request (application/json)

    + Headers

            Authorization: Bearer token

    + Body

            {
                    id: "string"
            }

+ Response 200 (application/json)

    + Body

            
                true
            


## Renew Premium Mailbox [/reseller/{resellerId}/renewPremiumMailbox]

### Renew Premium Mailbox [POST]

Renews a Premium Mailbox for one year and charges your account balance.
Premium Mailboxes always renew on an annual basis; there is no monthly option.

> **Warning:** This charges your account balance immediately.
> If you have insufficient funds the call will fail and the mailbox will not be renewed.

```
    <?php
    $general_api_key = "API_KEY";
    $services_api = new \TwentyI\API\Services($general_api_key);

    $request = $services_api->postWithFields("/reseller/{resellerId}/renewPremiumMailbox", [
            "id" => "string"
    ]);
```
+ Parameters

    + resellerId: 1 (number, required) - Your reseller ID.


+ Attributes

    + `id` (string,required) - The ID of the Premium Mailbox to renew
     
+ Request (application/json)

    + Headers

            Authorization: Bearer token

    + Body

            {
                    id: "string"
            }

+ Response 200 (application/json)

    + Body

            
                true
            


## Renew SSL Certificates [/reseller/{resellerId}/renewTlsCertificate]

### Renew an SSL Certificate [POST]

Renew a certificate.

The "Renew an SSL Certificate" API endpoint allows you to renew an SSL certificate in your 20i account. This API call is used to extend the validity or registration of an existing SSL certificate.

To renew an SSL certificate, you need to provide the following parameters in the request payload:

Upon successful execution of the API call, the response will return a boolean value indicating the success of the renewal operation. The value true indicates that the SSL certificate was successfully renewed.

Please note that this API endpoint handles the renewal process by charging the appropriate fee to your 20i Balance.
It checks if you have sufficient funds in your account, and if not, the renewal process will fail. Therefore, it is important to ensure that you have enough balance in your 20i account before making the API call to renew an SSL certificate.


- `id`: The ID of the SSL certificate that you want to renew.
- `periodMonths`: The number of months for which you want to renew the SSL certificate.

- `id`: The ID of the SSL certificate that you want to renew.
- `periodMonths`: The number of months for which you want to renew the SSL certificate.
```
    <?php
    $general_api_key = "API_KEY";
    $services_api = new \TwentyI\API\Services($general_api_key);

    $request = $services_api->postWithFields("/reseller/{resellerId}/renewTlsCertificate", [
            "id" => "string",
            "periodMonths" => 1
    ]);
```
+ Parameters

    + resellerId: 1 (number, required) - Your reseller ID.


+ Attributes

    + `id` (string,required) - 
    + `periodMonths` (number,required) - 
     
+ Request (application/json)

    + Headers

            Authorization: Bearer token

    + Body

            {
                    id: "string",
                    periodMonths: 1
            }

+ Response 200 (application/json)

    + Body

            
                true
            


## Renew SSL Certificates [/reseller/{resellerId}/renewTlsCertificatePre]

### Renew an SSL Certificate [POST]

The "Renew an SSL Certificate" API endpoint allows you to renew an SSL certificate with the provided ID for a specified period in months. This operation extends the validity period of the SSL certificate.

To use this API, you need to provide the following parameters:

$in: An array containing the following information:

The API call will return a float value or null. The float value represents the new expiration date of the SSL certificate in Unix timestamp format. If the renewal is unsuccessful or there is an error, the API will return null.

It's important to note that this API endpoint will charge the appropriate registration fee to your 20i balance.
If you don't have sufficient funds in your balance, the renewal will fail. Therefore, ensure that you have enough balance to cover the renewal fee before making the API call.

This API endpoint is useful when you want to automate the renewal process for SSL certificates and ensure that they remain valid and secure for an extended period.


- `id`: The ID of the SSL certificate that you want to renew.
- `periodMonths`: The number of months for which you want to renew the SSL certificate.

- `id`: The ID of the SSL certificate that you want to renew.
- `periodMonths`: The number of months for which you want to renew the SSL certificate.
```
    <?php
    $general_api_key = "API_KEY";
    $services_api = new \TwentyI\API\Services($general_api_key);

    $request = $services_api->postWithFields("/reseller/{resellerId}/renewTlsCertificatePre", [
            "id" => "string",
            "periodMonths" => 1
    ]);
```
+ Parameters

    + resellerId: 1 (number, required) - Your reseller ID.


+ Attributes

    + `id` (string,required) - 
    + `periodMonths` (number,required) - 
     
+ Request (application/json)

    + Headers

            Authorization: Bearer token

    + Body

            {
                    id: "string",
                    periodMonths: 1
            }

+ Response 200 (application/json)

    + Body

            
                1.99
            


## Renew VPS [/reseller/{resellerId}/renewVPS]

### Renew VPS [POST]

Renews an existing VPS subscription and charges your account balance.

> **Warning:** This charges your account balance immediately.
> If you have insufficient funds the call will fail and the VPS will not be renewed.

```
    <?php
    $general_api_key = "API_KEY";
    $services_api = new \TwentyI\API\Services($general_api_key);

    $request = $services_api->postWithFields("/reseller/{resellerId}/renewVPS", [
            "id" => "string",
            "periodMonths" => 1
    ]);
```
+ Parameters

    + resellerId: 1 (number, required) - Your reseller ID.


+ Attributes

    + `id` (string,required) - The ID of the VPS to renew
    + `periodMonths` (number,required) - Number of months to renew for
     
+ Request (application/json)

    + Headers

            Authorization: Bearer token

    + Body

            {
                    id: "string",
                    periodMonths: 1
            }

+ Response 200 (application/json)

    + Body

            
                true
            


# Group Hosting Packages



## Activate/Deactivate domain [/package/{packageId}/domain/{domainId}/userStatus]

### Activate or deactivate [POST]

Activates or deactivates the service.
Possible subservice_name are 'default' for a typical set of services
and 'main' for the core service only.

```
    <?php
    $general_api_key = "API_KEY";
    $services_api = new \TwentyI\API\Services($general_api_key);

    $request = $services_api->postWithFields("/package/{packageId}/domain/{domainId}/userStatus", [
            "includeRepeated" => true,
            "subservices" => [
                "(subservice_name)" => true
            ]
    ]);
```
+ Parameters

    + packageId: 1 (number, required) - The Package ID retrieved from get packages.
    + domainId: 1 (number, required) - The domain ID retrieved from get domains.


+ Attributes

    + `includeRepeated` (boolean,required) - When reactivating, if true,this will revoke all your deactivations rather than
        just the current one.
    + `subservices` (object,required) - 
        - ``subservice_name`` (boolean,required) - True to enable, false to disable.
     
+ Request (application/json)

    + Headers

            Authorization: Bearer token

    + Body

            {
                    includeRepeated: true,
                    subservices:{
                        (subservice_name): true
                    }
            }

+ Response 200 (application/json)

    + Body

            
                true
            


## Activate/Deactivate package [/package/{packageId}/userStatus]

### Activate or deactivate [POST]

Activates or deactivates the service.
Possible subservice_name are 'default' for a typical set of services
and 'main' for the core service only.

```
    <?php
    $general_api_key = "API_KEY";
    $services_api = new \TwentyI\API\Services($general_api_key);

    $request = $services_api->postWithFields("/package/{packageId}/userStatus", [
            "includeRepeated" => true,
            "subservices" => [
                "(subservice_name)" => true
            ]
    ]);
```
+ Parameters

    + packageId: 1 (number, required) - The Package ID retrieved from get packages.


+ Attributes

    + `includeRepeated` (boolean,required) - When reactivating, if true,this will revoke all your deactivations rather than
        just the current one.
    + `subservices` (object,required) - 
        - ``subservice_name`` (boolean,required) - True to enable, false to disable.
     
+ Request (application/json)

    + Headers

            Authorization: Bearer token

    + Body

            {
                    includeRepeated: true,
                    subservices:{
                        (subservice_name): true
                    }
            }

+ Response 200 (application/json)

    + Body

            
                true
            


## Bandwidth [/package/{packageId}/web/bandwidthStats]

### Retrieve Bandwidth Statistics [GET]

Returns hit counts and byte totals grouped by `daily` (last 24 hours),
`monthly` (last 30 days), and `yearly` (last 12 months) periods.

```
    <?php
    $general_api_key = "API_KEY";
    $services_api = new \TwentyI\API\Services($general_api_key);

    $request = $services_api->getWithFields("/package/{packageId}/web/bandwidthStats");
```
+ Parameters

    + packageId: 1 (number, required) - The Package ID retrieved from get packages.



     
+ Request

    + Headers

            Authorization: Bearer token



+ Response 200 (application/json)

    + Body

            
                {
                    daily:{
                        period: "string",
                        hits: 1,
                        bandwidth: 1
                    },
                    monthly:{
                        period: "string",
                        hits: 1,
                        bandwidth: 1
                    },
                    yearly:{
                        period: "string",
                        hits: 1,
                        bandwidth: 1
                    }
                }
            


## Clear Pending Install [/package/{packageId}/web/clearPendingInstall]

### Clear Pending Install [GET]

Clears any pending install state from this virtual host, allowing a fresh
installation to be started.

```
    <?php
    $general_api_key = "API_KEY";
    $services_api = new \TwentyI\API\Services($general_api_key);

    $request = $services_api->getWithFields("/package/{packageId}/web/clearPendingInstall");
```
+ Parameters

    + packageId: 1 (number, required) - The Package ID retrieved from get packages.



     
+ Request

    + Headers

            Authorization: Bearer token



+ Response 200 (application/json)

    + Body

            
                {}
            


## Contacts [/package/{packageId}/domain/{domainId}/contacts]

### Retrieve Contacts for a Domain Name [GET]

Returns the current contacts for the domain name. This is a map of
contact types to contact data, in EPP format.

```
    <?php
    $general_api_key = "API_KEY";
    $services_api = new \TwentyI\API\Services($general_api_key);

    $request = $services_api->getWithFields("/package/{packageId}/domain/{domainId}/contacts");
```
+ Parameters

    + packageId: 1 (number, required) - The Package ID retrieved from get packages.
    + domainId: 1 (number, required) - The domain ID retrieved from get domains.



     
+ Request

    + Headers

            Authorization: Bearer token



+ Response 200 (application/json)

    + Body

            
                {
                    (contact-type):{
                        id: "string",
                        roid: "string",
                        clID: "string",
                        crID: "string",
                        crDate: "string",
                        trID: "string",
                        trDate: "string",
                        upID: "string",
                        upDate: "string",
                        status:{
                            -s: "string",
                            s: "string"
                        },
                        postalInfo:{
                            -type: "string",
                            type: "string",
                            name: "string",
                            org: "string",
                            addr:{
                                street: ["string"],
                                city: "string",
                                sp: "string",
                                pc: "string",
                                cc: "string"
                            }
                        },
                        voice: "string",
                        fax: "string",
                        email: "string",
                        disclose:{
                            -flag: true,
                            name:{
                                -type: "string"
                            },
                            org:{
                                -type: "string"
                            },
                            addr:{
                                -type: "string"
                            },
                            voice: NULL?FIXME,
                            fax: NULL?FIXME,
                            email: NULL?FIXME
                        },
                        extension:{
                            dateToSuspend: "string",
                            trad-name: "string",
                            type: "string",
                            co-no: "string",
                            opt-out: "string",
                            privacy: "string",
                            status: "string"
                        }
                    }
                }
            


### Set Domain Contacts [POST]

Updates the contacts for the domain. Pass a map of EPP contact type names
(e.g. `"registrant"`, `"admin"`, `"billing"`, `"tech"`) to contact data
objects in `contactIn` format.

The required `extension` fields depend on the domain's TLD and registry.

**Nominet** (`.uk`, `.co.uk`, `.me.uk`, `.org.uk`, etc.): `type` is required â€” accepted values are `IND`, `FIND`, `LTD`, `PLC`, `PTNR`, `LLP`, `SCH`, `RCHAR`, `GOV`, `CRC`, `STAT`, `OTHER`. `trad-name` sets a trading name and `co-no` sets the company number (ignored when `type` is `OTHER`).

**Titan** (`.ie`): `type` is required. `language` (uppercased) and `cro-number` are optional.

**Tucows/OpenSRS**: `type` is mapped per TLD â€” `.ca` â†’ `legal_type`; `.au`/`.com.au`/`.org.au` â†’ `eligibility_type` (also sets `registrant_name`); `.dk` â†’ `registrant_type` (normalised to `"individual"` or `"business"`); `.es` â†’ `es_id_type`; `.us` â†’ `app_purpose`; `.cl`, `.de`, `.fi`, `.hu`, `.lv`, `.mx`, `.my`, `.nu`, `.pt`, `.com.pt`, `.re`, `.ro`, `.com.ro`, `.se`, `.za`, `.co.za` â†’ `registrant_type`; all other Tucows TLDs â†’ `entity_type`. Additional optional fields: `language` (`lang`), `nationality-code`, `co-no`, `cro-number`, `fax`, `reg_code`, `country_of_citizenship`.

**CentralNic** â€” contacts are not supported; this endpoint returns `false`.

> **Note:** For `.uk` domains (Nominet), the registrant name (or organisation
> name if present) must match the existing record. If the names do not match,
> the update will be silently rejected and the method will return `false`.

```
    <?php
    $general_api_key = "API_KEY";
    $services_api = new \TwentyI\API\Services($general_api_key);

    $request = $services_api->postWithFields("/package/{packageId}/domain/{domainId}/contacts", [
            "(contact-type)" => []
    ]);
```
+ Parameters

    + packageId: 1 (number, required) - The Package ID retrieved from get packages.
    + domainId: 1 (number, required) - The domain ID retrieved from get domains.


+ Attributes

    
     
+ Request (application/json)

    + Headers

            Authorization: Bearer token

    + Body

            {
            }

+ Response 200 (application/json)

    + Body

            
                true
            


## Disk Usage Report [/package/{packageId}/web/requestDiskUsage]

### Request Disk Usage Report [POST]

Queues a disk usage report for this virtual host. Use the returned `reportId`
with "Get disk usage report" to fetch results once the task completes.

```
    <?php
    $general_api_key = "API_KEY";
    $services_api = new \TwentyI\API\Services($general_api_key);

    $request = $services_api->postWithFields("/package/{packageId}/web/requestDiskUsage", [
            "subDirectory" => "string"
    ]);
```
+ Parameters

    + packageId: 1 (number, required) - The Package ID retrieved from get packages.


+ Attributes

    + `subDirectory` (string,nullable) - The subdirectory to analyse; omit to analyse the full home directory
     
+ Request (application/json)

    + Headers

            Authorization: Bearer token

    + Body

            {
                    subDirectory: "string"
            }

+ Response 200 (application/json)

    + Body

            
                {
                    reportId: 1,
                    directory: "string"
                }
            


## Document Roots [/package/{packageId}/web/documentRoots]

### Retrieve Document Roots [GET]

Returns a map of every DNS name on the site to its document root subdirectory.
Returns an empty array on error.

```
    <?php
    $general_api_key = "API_KEY";
    $services_api = new \TwentyI\API\Services($general_api_key);

    $request = $services_api->getWithFields("/package/{packageId}/web/documentRoots");
```
+ Parameters

    + packageId: 1 (number, required) - The Package ID retrieved from get packages.



     
+ Request

    + Headers

            Authorization: Bearer token



+ Response 200 (application/json)

    + Body

            
                {
                    (domain_name): "string"
                }
            


## Domain [/package/{packageId}/domain/{domainId}]

### Retrieve Domain Information [GET]

Returns a summary of the domain's current state, including linked services,
transfer status, registrant verification, renewal constraints, and DNSSEC support.

```
    <?php
    $general_api_key = "API_KEY";
    $services_api = new \TwentyI\API\Services($general_api_key);

    $request = $services_api->getWithFields("/package/{packageId}/domain/{domainId}");
```
+ Parameters

    + packageId: 1 (number, required) - The Package ID retrieved from get packages.
    + domainId: 1 (number, required) - The domain ID retrieved from get domains.



     
+ Request

    + Headers

            Authorization: Bearer token



+ Response 200 (application/json)

    + Body

            
                {
                    emulatesPositiveRenewal: true,
                    hasPackage: true,
                    hasPrivacy: true,
                    name: "string",
                    nameservers: ["string"],
                    pendingTransfer: true,
                    registrantIsVerified: true,
                    renewalConstraint:{
                    }
                }
            


## Domain Max Interval [/package/{packageId}/domain/{domainId}/renewalMultipleMaxHintFor]

### Get domain max interval hint [POST]

Returns the maximum number of years by which this domain may currently be
renewed, given the supplied current expiry date. Registries impose a hard
cap on the total registered lifespan; this call computes the remaining
headroom.

> **Note:** Cache this result by TLD rather than per-domain where possible.
> The value changes as the expiry date advances.

```
    <?php
    $general_api_key = "API_KEY";
    $services_api = new \TwentyI\API\Services($general_api_key);

    $request = $services_api->postWithFields("/package/{packageId}/domain/{domainId}/renewalMultipleMaxHintFor", [
            "expiryDate" => "string"
    ]);
```
+ Parameters

    + packageId: 1 (number, required) - The Package ID retrieved from get packages.
    + domainId: 1 (number, required) - The domain ID retrieved from get domains.


+ Attributes

    + `expiryDate` (string,required) - The current expiry date in any format acceptedby PHP's `DateTime` constructor, e.g. `"2026-04-01T00:00:00Z"`
     
+ Request (application/json)

    + Headers

            Authorization: Bearer token

    + Body

            {
                    expiryDate: "string"
            }

+ Response 200 (application/json)

    + Body

            
                1
            


## Domain Names/Subdomains [/package/{packageId}/names]

### Retrieve Names for a Package [GET]

Returns all domain names and subdomains attached to this package, normalised to lower case.

```
    <?php
    $general_api_key = "API_KEY";
    $services_api = new \TwentyI\API\Services($general_api_key);

    $request = $services_api->getWithFields("/package/{packageId}/names");
```
+ Parameters

    + packageId: 1 (number, required) - The Package ID retrieved from get packages.



     
+ Request

    + Headers

            Authorization: Bearer token



+ Response 200 (application/json)

    + Body

            
                ["string"]
            


### Add or Remove Names From a Package [POST]

Adds and/or removes domain names and subdomains from this package in a
single atomic call.

When adding names that are also registered (renewable) domains in your account:

When removing such a name, an empty web forwarding config is created automatically.

> **Note:** You cannot remove the last name from a package. Attempting to do so
> will throw an error.


- Full access to that domain name is required, otherwise the add is refused.
- Any existing web forwarding on the domain will be removed.

- Full access to that domain name is required, otherwise the add is refused.
- Any existing web forwarding on the domain will be removed.
```
    <?php
    $general_api_key = "API_KEY";
    $services_api = new \TwentyI\API\Services($general_api_key);

    $request = $services_api->postWithFields("/package/{packageId}/names", [
            "add" => ["string"],
            "rem" => ["string"],
            "chg" => "string"
    ]);
```
+ Parameters

    + packageId: 1 (number, required) - The Package ID retrieved from get packages.


+ Attributes

    + `add` (array[string],nullable) - Names to add. Already-mapped names are skipped silently.
    + `rem` (array[string],nullable) - Names to remove.
    + `chg` (string,nullable) - The new primary name used for StackCP and FTP accounts.Must be a name that will remain on the package after `$add`/`$rem` are applied.
     
+ Request (application/json)

    + Headers

            Authorization: Bearer token

    + Body

            {
                    add: ["string"],
                    rem: ["string"],
                    chg: "string"
            }

+ Response 200 (application/json)

    + Body

            
            


## Domain Names/Subdomains [/package/{packageId}/web/domainCheck]

### Retrieve Domain Details [POST]

Classifies a given hostname as either a domain or a subdomain.
Both fields are `false` when no `domain` parameter is supplied.

```
    <?php
    $general_api_key = "API_KEY";
    $services_api = new \TwentyI\API\Services($general_api_key);

    $request = $services_api->postWithFields("/package/{packageId}/web/domainCheck", [
            "domain" => "string"
    ]);
```
+ Parameters

    + packageId: 1 (number, required) - The Package ID retrieved from get packages.


+ Attributes

    + `domain` (string,required) - The hostname to inspect
     
+ Request (application/json)

    + Headers

            Authorization: Bearer token

    + Body

            {
                    domain: "string"
            }

+ Response 200 (application/json)

    + Body

            
                {
                    domain: true,
                    subdomain: true
                }
            


## Domain Names/Subdomains [/package/{packageId}/web/names]

### Add Names to a Package [POST]

Adds or removes domain names and subdomains from this web service.
Adding a name that already exists updates its document root path.

> **Note:** `add` accepts either a plain array of names or a map of
> `name => subdirectory` pairs. The `chg` field changes the primary name
> used for single-name functions such as the main FTP username.

```
    <?php
    $general_api_key = "API_KEY";
    $services_api = new \TwentyI\API\Services($general_api_key);

    $request = $services_api->postWithFields("/package/{packageId}/web/names", [
            "add" => ["string"],
            "rem" => ["string"],
            "chg" => "string"
    ]);
```
+ Parameters

    + packageId: 1 (number, required) - The Package ID retrieved from get packages.


+ Attributes

    + `add` (array[string],required) - Plain array of names, or a map of names to document root subdirectories {
    + `rem` (array[string],required) - Names to remove
    + `chg` (string,nullable) - The new primary name; defaults to the first name on the web
     
+ Request (application/json)

    + Headers

            Authorization: Bearer token

    + Body

            {
                    add: ["string"],
                    rem: ["string"],
                    chg: "string"
            }

+ Response 200 (application/json)

    + Body

            
                ["string"]
            


## Domain Names/Subdomains [/package/{packageId}/web/updateDocRoot]

### Update domain or subdomain document roots [POST]

Changes the document root subdirectory for one or more existing domains or
subdomains. The domain must already be attached to this web service.

```
    <?php
    $general_api_key = "API_KEY";
    $services_api = new \TwentyI\API\Services($general_api_key);

    $request = $services_api->postWithFields("/package/{packageId}/web/updateDocRoot", [
            "update" => [
                "(domain_name)" => "string"
            ]
    ]);
```
+ Parameters

    + packageId: 1 (number, required) - The Package ID retrieved from get packages.


+ Attributes

    + `update` (object,required) - A map of domain names to new document root subdirectories {
        - ``domain_name`` (string,required) - The new document root, e.g. `public_html/mysite`
     
+ Request (application/json)

    + Headers

            Authorization: Bearer token

    + Body

            {
                    update:{
                        (domain_name): "string"
                    }
            }

+ Response 200 (application/json)

    + Body

            
                ["string"]
            


## Domain Price [/package/{packageId}/domain/{domainId}/servicePrice]

### Retrieve domain price [GET]

Returns the per-year renewal price for a premium domain, or `null` for
standard-priced domains (where the price is determined by TLD pricing tables).

> **Note:** The returned value is always in GBP and excludes reseller markup.
> Currency conversion and checkout markup must be applied separately.

```
    <?php
    $general_api_key = "API_KEY";
    $services_api = new \TwentyI\API\Services($general_api_key);

    $request = $services_api->getWithFields("/package/{packageId}/domain/{domainId}/servicePrice");
```
+ Parameters

    + packageId: 1 (number, required) - The Package ID retrieved from get packages.
    + domainId: 1 (number, required) - The domain ID retrieved from get domains.



     
+ Request

    + Headers

            Authorization: Bearer token



+ Response 200 (application/json)

    + Body

            
                1.99
            


## Domain Privacy [/package/{packageId}/domain/{domainId}/privacy]

### Retrieve domain privacy settings [GET]

Returns the current configuration and status of the domain privacy service.

> **Note:** The `type` field will be either `"contact"` (contact-substitution
> privacy) or `"registrar"` (registrar-level privacy, currently only supported
> for OpenSRS domains). The available fields in the response vary by type.

```
    <?php
    $general_api_key = "API_KEY";
    $services_api = new \TwentyI\API\Services($general_api_key);

    $request = $services_api->getWithFields("/package/{packageId}/domain/{domainId}/privacy");
```
+ Parameters

    + packageId: 1 (number, required) - The Package ID retrieved from get packages.
    + domainId: 1 (number, required) - The domain ID retrieved from get domains.



     
+ Request

    + Headers

            Authorization: Bearer token



+ Response 200 (application/json)

    + Body

            
                {
                    id: "string",
                    isEnabled: true,
                    canEnable: true,
                    type: "string",
                    emailDestination: "string",
                    prefix: "string"
                }
            


### Update domain privacy [POST]

Updates the configuration of the domain privacy service.

> **Note:** Not all privacy types support all configuration fields.
> Supplying `emailDestination` for a privacy type that does not support it
> will have no effect.

```
    <?php
    $general_api_key = "API_KEY";
    $services_api = new \TwentyI\API\Services($general_api_key);

    $request = $services_api->postWithFields("/package/{packageId}/domain/{domainId}/privacy", [
            "emailDestination" => "string"
    ]);
```
+ Parameters

    + packageId: 1 (number, required) - The Package ID retrieved from get packages.
    + domainId: 1 (number, required) - The domain ID retrieved from get domains.


+ Attributes

    + `emailDestination` (string,nullable) - The email address to forward masked contact email to,if supported by the privacy type
     
+ Request (application/json)

    + Headers

            Authorization: Bearer token

    + Body

            {
                    emailDestination: "string"
            }

+ Response 200 (application/json)

    + Body

            
                {}
            


## Domain Privacy [/package/{packageId}/domain/{domainId}/privacyState]

### Set Domain Privacy State [POST]

Enables or disables the domain privacy service for this domain.
The domain must already have a privacy service object attached; this
endpoint only changes its active state, not its configuration.

> **Note:** Returns `false` if no privacy service is attached to this domain.

```
    <?php
    $general_api_key = "API_KEY";
    $services_api = new \TwentyI\API\Services($general_api_key);

    $request = $services_api->postWithFields("/package/{packageId}/domain/{domainId}/privacyState", [
            "enabled" => true
    ]);
```
+ Parameters

    + packageId: 1 (number, required) - The Package ID retrieved from get packages.
    + domainId: 1 (number, required) - The domain ID retrieved from get domains.


+ Attributes

    + `enabled` (boolean,required) - `true` to enable privacy, `false` to disable it
     
+ Request (application/json)

    + Headers

            Authorization: Bearer token

    + Body

            {
                    enabled: true
            }

+ Response 200 (application/json)

    + Body

            
                true
            


## Domain Transfer Status [/package/{packageId}/domain/{domainId}/pendingTransferStatus]

### Get domain transfer status [GET]

Returns the cached registrar-level status string for the current
pending transfer, if any. This reflects the last polled value and
may not update in real time.

> **Note:** Returns `null` if there is no pending transfer or if no
> status has been polled yet. Use `pendingTransfer` to determine
> whether a transfer is in progress.

```
    <?php
    $general_api_key = "API_KEY";
    $services_api = new \TwentyI\API\Services($general_api_key);

    $request = $services_api->getWithFields("/package/{packageId}/domain/{domainId}/pendingTransferStatus");
```
+ Parameters

    + packageId: 1 (number, required) - The Package ID retrieved from get packages.
    + domainId: 1 (number, required) - The domain ID retrieved from get domains.



     
+ Request

    + Headers

            Authorization: Bearer token



+ Response 200 (application/json)

    + Body

            
                string
            


## Domain WHOIS [/package/{packageId}/domain/{domainId}/optOut]

### Retrieve WHOIS Disclosure Information for a Domain [GET]

Returns whether WHOIS contact disclosure is supported and currently
enabled for this domain. Only meaningful for registries that implement
opt-out (Nominet `.uk`) or have fixed policies (`.ca`, `.fr`).

> **Note:** For `.ca` domains, `canSet` is always `false` and disclosure
> cannot be changed. For `.fr` domains, disclosure is automatic and
> `enabled` is `true` only when the registrant has no organisation set.
> For all other TLDs, all fields return `null`.

```
    <?php
    $general_api_key = "API_KEY";
    $services_api = new \TwentyI\API\Services($general_api_key);

    $request = $services_api->getWithFields("/package/{packageId}/domain/{domainId}/optOut");
```
+ Parameters

    + packageId: 1 (number, required) - The Package ID retrieved from get packages.
    + domainId: 1 (number, required) - The domain ID retrieved from get domains.



     
+ Request

    + Headers

            Authorization: Bearer token



+ Response 200 (application/json)

    + Body

            
                {
                    canSet: true,
                    enabled: true,
                    hasValidContact: true
                }
            


### Update WHOIS optout [POST]

Updates the WHOIS contact-disclosure (opt-out) setting at the registry.
Currently only meaningful for Nominet `.uk` domains. Has no effect if
domain privacy is active (privacy supersedes disclosure settings).

> **Note:** Disclosure settings vary by registry. Check `getOptOut` first
> to confirm that `canSet` is `true` before calling this endpoint.

```
    <?php
    $general_api_key = "API_KEY";
    $services_api = new \TwentyI\API\Services($general_api_key);

    $request = $services_api->postWithFields("/package/{packageId}/domain/{domainId}/optOut", [
            "enabled" => true
    ]);
```
+ Parameters

    + packageId: 1 (number, required) - The Package ID retrieved from get packages.
    + domainId: 1 (number, required) - The domain ID retrieved from get domains.


+ Attributes

    + `enabled` (boolean,required) - `true` to enable disclosure (opt in), `false` to suppress it (opt out)
     
+ Request (application/json)

    + Headers

            Authorization: Bearer token

    + Body

            {
                    enabled: true
            }

+ Response 200 (application/json)

    + Body

            
                {
                    result:{
                        msg: "string"
                    }
                }
            


## getPackageWebInfo [/package/{packageId}/web/info]

### Retreive [GET]

Returns basic information about the site.

```
    <?php
    $general_api_key = "API_KEY";
    $services_api = new \TwentyI\API\Services($general_api_key);

    $request = $services_api->getWithFields("/package/{packageId}/web/info");
```
+ Parameters

    + packageId: 1 (number, required) - The Package ID retrieved from get packages.



     
+ Request

    + Headers

            Authorization: Bearer token



+ Response 200 (application/json)

    + Body

            
                {
                    id: "string",
                    hasBackups: true,
                    label: "string",
                    name: "string",
                    names: ["string"],
                    platform: "string",
                    setupComplete: true,
                    typeRef: "string",
                    hasSsl:{
                        webName: true
                    }
                }
            


## Home Directory [/package/{packageId}/web/homeDirectory]

### Retrieve the Home Directory [GET]

Returns the absolute UNIX home directory path for this web site as reported
by the hosting platform.

```
    <?php
    $general_api_key = "API_KEY";
    $services_api = new \TwentyI\API\Services($general_api_key);

    $request = $services_api->getWithFields("/package/{packageId}/web/homeDirectory");
```
+ Parameters

    + packageId: 1 (number, required) - The Package ID retrieved from get packages.



     
+ Request

    + Headers

            Authorization: Bearer token



+ Response 200 (application/json)

    + Body

            
                string
            


## Limits Domain [/package/{packageId}/domain/{domainId}/limits]

### Retrieve Limits for a Domain [POST]

Returns the feature-access limits for the current user as a key-value map.
The `lock` capability is additionally constrained by whether the TLD supports
locking at the registry.

```
    <?php
    $general_api_key = "API_KEY";
    $services_api = new \TwentyI\API\Services($general_api_key);

    $request = $services_api->getWithFields("/package/{packageId}/domain/{domainId}/limits");
```
+ Parameters

    + packageId: 1 (number, required) - The Package ID retrieved from get packages.
    + domainId: 1 (number, required) - The domain ID retrieved from get domains.



     
+ Request

    + Headers

            Authorization: Bearer token



+ Response 200 (application/json)

    + Body

            
                {
                    addFreeWeb: true,
                    contacts: true,
                    dns: true,
                    email: true,
                    lock: true,
                    nameservers: true,
                    pushTransfer: true,
                    webForward: true,
                    whois: true,
                }
            


## Limits Package [/package/{packageId}/limits]

### Retrieve Limits for a Package [GET]

Returns the effective limits for the authenticated user on this package,
as a key-value map. Autoscale packages have their `webspace` and `bandwidth`
values overridden by the autoscale allowance.

> **Note:** This endpoint requires the package to have an associated web object.
> Calling it on a package without one will result in an error.

```
    <?php
    $general_api_key = "API_KEY";
    $services_api = new \TwentyI\API\Services($general_api_key);

    $request = $services_api->getWithFields("/package/{packageId}/limits");
```
+ Parameters

    + packageId: 1 (number, required) - The Package ID retrieved from get packages.



     
+ Request

    + Headers

            Authorization: Bearer token



+ Response 200 (application/json)

    + Body

            
                {
                    {
                        ftp: true,
                        temporaryURL: true,
                        mssqlDatabases: 1,
                        timelineBackups: true,
                        timelineBackupsPro: true
                    }
                }
            


## Limits Web [/package/{packageId}/web/limits]

### Retrieve Limits for a web [GET]

Returns the effective usage limits for the current session user on this
web service. Autoscale allowance disk and bandwidth values override the
package defaults when applicable.

```
    <?php
    $general_api_key = "API_KEY";
    $services_api = new \TwentyI\API\Services($general_api_key);

    $request = $services_api->getWithFields("/package/{packageId}/web/limits");
```
+ Parameters

    + packageId: 1 (number, required) - The Package ID retrieved from get packages.



     
+ Request

    + Headers

            Authorization: Bearer token



+ Response 200 (application/json)

    + Body

            
                {
                }
            


## List Packages [/package]

### Retrieve Information for all Packages [GET]

Returns summary information for every hosting package in the account,
suitable for building a package listing UI.

```
    <?php
    $general_api_key = "API_KEY";
    $services_api = new \TwentyI\API\Services($general_api_key);

    $request = $services_api->getWithFields("/package");
```



     
+ Request

    + Headers

            Authorization: Bearer token



+ Response 200 (application/json)

    + Body

            [
                {
                    id: 1,
                    enabled: true,
                    externalId: 1,
                    created: "string",
                    name: "string",
                    names: ["string"],
                    packageTypeName: "string",
                    packageTypePlatform: "string",
                    productSpec: "string",
                    stackUsers: ["string"],
                    typeRef: "string",
                    web:{
                        {
                            id: "string",
                            hasBackups: true,
                            label: "string",
                            name: "string",
                            names: ["string"],
                            platform: "string",
                            setupComplete: true,
                            typeRef: "string",
                            hasSsl:{
                                webName: true
                            }
                        }
                    }
                }
            ]


## Logs [/package/{packageId}/web/logs]

### Retrieve Logs for a Package [GET]

Returns the access and error log file references for this site.

```
    <?php
    $general_api_key = "API_KEY";
    $services_api = new \TwentyI\API\Services($general_api_key);

    $request = $services_api->getWithFields("/package/{packageId}/web/logs");
```
+ Parameters

    + packageId: 1 (number, required) - The Package ID retrieved from get packages.



     
+ Request

    + Headers

            Authorization: Bearer token



+ Response 200 (application/json)

    + Body

            
                {
                    LogFiles: "string"
                }
            


## Maintenance Mode [/package/{packageId}/web/maintenanceMode]

### Retrieve Maintenance Mode Settings [GET]

Returns the maintenance mode configuration for each server alias on this
virtual host, including the HTML templates used for the maintenance and
login pages.

```
    <?php
    $general_api_key = "API_KEY";
    $services_api = new \TwentyI\API\Services($general_api_key);

    $request = $services_api->getWithFields("/package/{packageId}/web/maintenanceMode");
```
+ Parameters

    + packageId: 1 (number, required) - The Package ID retrieved from get packages.



     
+ Request

    + Headers

            Authorization: Bearer token



+ Response 200 (application/json)

    + Body

            [
                {
                    alias: "string",
                    aliasId: 1,
                    maintenanceEnabled: true,
                    maintenancePasswordProtected: true,
                    maintenancePageHtml: "string",
                    maintenanceLoginPageHtml: "string"
                }
            ]


### Set Maintenance Mode Settings [POST]

Set maintenance mode settings for this web

```
    <?php
    $general_api_key = "API_KEY";
    $services_api = new \TwentyI\API\Services($general_api_key);

    $request = $services_api->getWithFields("/package/{packageId}/web/maintenanceMode");
```
+ Parameters

    + packageId: 1 (number, required) - The Package ID retrieved from get packages.



     
+ Request

    + Headers

            Authorization: Bearer token



+ Response 200 (application/json)

    + Body

            [
                {
                    alias: "string",
                    aliasId: 1,
                    maintenanceEnabled: true,
                    maintenancePasswordProtected: true,
                    maintenancePageHtml: "string",
                    maintenanceLoginPageHtml: "string"
                }
            ]


## Package [/package/{packageId}/web]

### Retrieve Package Information [GET]

Returns detailed information about the package.

```
    <?php
    $general_api_key = "API_KEY";
    $services_api = new \TwentyI\API\Services($general_api_key);

    $request = $services_api->getWithFields("/package/{packageId}/web");
```
+ Parameters

    + packageId: 1 (number, required) - The Package ID retrieved from get packages.



     
+ Request

    + Headers

            Authorization: Bearer token



+ Response 200 (application/json)

    + Body

            
                {
                    id: "string",
                    hasBackups: true,
                    label: "string",
                    platform: "string",
                    name: "string",
                    names: ["string"],
                    ftpUsers:{
                    },
                    ftp_credentials:{
                    },
                    typeRef: "string",
                    info:{
                        webserver: "string",
                        ip4Address: "string",
                        ip6Address: "string",
                        ftpserver: "string",
                        temporaryUrls:{
                            (domain_name): "string"
                        },
                        statsUrls:{
                            (service_name): "string"
                        },
                    },
                    packageTypeName: "string",
                    usage:{
                        MbIn: 1.99,
                        MbOut: 1.99,
                        ServerAliasCertificates:{
                            (type): ["string"]
                        },
                    },
                    setupComplete: true,
                    {
                        flags: ["string"]
                    }
                }
            


## Package [/package/{packageId}]

### Retrieve Information About a Package [GET]

Returns a full representation of the package, including its DNS zones,
email configuration, limits, and associated web object.

```
    <?php
    $general_api_key = "API_KEY";
    $services_api = new \TwentyI\API\Services($general_api_key);

    $request = $services_api->getWithFields("/package/{packageId}");
```
+ Parameters

    + packageId: 1 (number, required) - The Package ID retrieved from get packages.



     
+ Request

    + Headers

            Authorization: Bearer token



+ Response 200 (application/json)

    + Body

            
                {
                    canClaimName: {},
                    defaultDns:{
                    },
                    dns:{
                        (name): {}
                    },
                    domain:{
                        {
                            id: "string",
                            closeToAnniversary: true,
                            deadDate: "string",
                            expiryDate: "string",
                            name: "string",
                            hasPrivacy: true,
                            pendingTransfer: true,
                            registrantIsVerified: true,
                            registrantVerificationChecked: "string",
                            renewalConstraint:{
                            },
                            preferredRenewalMonths: 1
                        }
                    },
                    email:{
                        (name): {}
                    },
                    enabled: true,
                    id: "string",
                    internalTransfer:{
                    },
                    isDemo: true,
                    limits:{
                    },
                    names: {},
                    sessionlimits:{
                    },
                    defaultHtml:{
                    },
                    stackBilling:{
                    },
                    stackUsers: ["string"],
                    status: {},
                    typeRef: "string",
                    web: {}
                }
            


## Package Add [/reseller/{resellerId}/addWeb]

### Add a Hosting Package [POST]

The "Package Add" API endpoint allows you to add hosting packages to your reseller account using the 20i API.
This endpoint enables you to create a new web hosting package and associate it with a specific web type reference. The package can include a web site with an initial domain name and additional domain names if needed.

To use this endpoint, you need to provide the necessary parameters in the request payload. The parameters include:

"type" (string): A reference to the web type, which is equivalent to the ID found in the "/packageTypes" endpoint. This parameter determines the configuration and features of the hosting package.
"domain_name" (string): The initial domain name for the web site associated with the package.
"extra_domain_names" (array of strings, optional): An array of zero or more additional domain names that you want to associate with the package.
"label" (string): A memorable name or label for the package.
"documentRoots" (array): A map that specifies the intended document roots for the domain names associated with the package. The keys of the map are the domain names, and the values are the corresponding document roots.
"stackUser" (string or null): An optional parameter that allows you to link an existing Stack user to the package.
If you provide the reference to an existing Stack user, and a welcome email is set for the package type, the welcome email will be sent to the user as soon as possible.
The API endpoint supports the following exceptions:

"ConflictingObject" exception: Thrown when there is a conflict with an existing object.
"InvalidRequest" exception: Thrown when the request is invalid or missing required parameters.
Upon successful execution of the API call, the endpoint returns the newly assigned ID for the hosting package.

```
    <?php
    $general_api_key = "API_KEY";
    $services_api = new \TwentyI\API\Services($general_api_key);

    $request = $services_api->postWithFields("/reseller/{resellerId}/addWeb", [
            "type" => "string",
            "domain_name" => "string",
            "extra_domain_names" => ["string"],
            "label" => "string",
            "documentRoots" => [
                "(domain)" => "string"
            ],
            "stackUser" => "string",
            "packageTemplate" => "string"
    ]);
```
+ Parameters

    + resellerId: 1 (number, required) - Your reseller ID.


+ Attributes

    + `type` (string,required) - A web type reference, equivalent to the id in/packageTypes
    + `domain_name` (string,required) - The initial domain name for the site
    + `extra_domain_names` (array[string],nullable) - Array of zero or more extradomain names
    + `label` (string,required) - The memorable name for the package
    + `documentRoots` (object,required) - A map of domain names to intended document
        roots
        - ``domain`` (string,required) - 
    + `stackUser` (string,nullable) - eg. "stack-user:1". An existing Stackuser to link to the package.
    + `packageTemplate` (string,nullable) - The name of the blueprint package
     
+ Request (application/json)

    + Headers

            Authorization: Bearer token

    + Body

            {
                    type: "string",
                    domain_name: "string",
                    extra_domain_names: ["string"],
                    label: "string",
                    documentRoots:{
                        (domain): "string"
                    },
                    stackUser: "string",
                    packageTemplate: "string"
            }

+ Response 200 (application/json)

    + Body

            
                1
            


## Package Allowance Add [/reseller/{resellerId}/addStackUserPackageAllowance]

### Add a Hosting Package allowance [POST]

Adds a hosting package allowance for a stack user, defining the package bundle type
and the maximum number of packages that user may create under it.

```
    <?php
    $general_api_key = "API_KEY";
    $services_api = new \TwentyI\API\Services($general_api_key);

    $request = $services_api->postWithFields("/reseller/{resellerId}/addStackUserPackageAllowance", [
            "type" => "string",
            "stackUser" => "string",
            "domainProvision" => "string",
            "manualAssign" => "string"
    ]);
```
+ Parameters

    + resellerId: 1 (number, required) - Your reseller ID.


+ Attributes

    + `type` (string,required) - Encodes the package bundle type, allowance count, and optionallya DC location in the format `"{packageBundleTypeId}-{allowance}"`,
        e.g. `"12345-10"`. Append `-{locationCode}` to pin to a data centre,
        e.g. `"12345-10-lhr"`.
    + `stackUser` (string,required) - The stack user tuple to assign the allowance to,e.g. `"stack-user:456"`
    + `domainProvision` (string,nullable) - Optional domain name to provision a websitefor immediately under the new allowance.
    + `manualAssign` (string,nullable) - Optional existing package ID to assign to thenew allowance immediately.
     
+ Request (application/json)

    + Headers

            Authorization: Bearer token

    + Body

            {
                    type: "string",
                    stackUser: "string",
                    domainProvision: "string",
                    manualAssign: "string"
            }

+ Response 200 (application/json)

    + Body

            
                {
                    serviceId: "string",
                    label: "string",
                    platform: "string"
                }
            


## Package Allowance Update [/reseller/{resellerId}/updateStackUserPackageAllowance]

### Update a Package Allowance [POST]

Updates one or more stack user package allowances. Supports deleting allowances
and changing the bundle type or allowance count on existing ones.
Returns `true` if at least one action was applied.

```
    <?php
    $general_api_key = "API_KEY";
    $services_api = new \TwentyI\API\Services($general_api_key);

    $request = $services_api->postWithFields("/reseller/{resellerId}/updateStackUserPackageAllowance", [
            "delete-id" => ["string"],
    ]);
```
+ Parameters

    + resellerId: 1 (number, required) - Your reseller ID.


+ Attributes

    + `delete-id` (array[string],nullable) - Array of allowance IDs to delete.
    + `upgrade-id` (object,nullable) - Map of allowance ID to new type string in the format`"{packageBundleTypeId}-{allowance}"`, e.g. `["42" => "12345-20"]`.
        Updates the bundle type and allowance count on the specified allowances.
     
+ Request (application/json)

    + Headers

            Authorization: Bearer token

    + Body

            {
                    delete-id: ["string"],
            }

+ Response 200 (application/json)

    + Body

            
                true
            


## Package Brand [/reseller/{resellerId}/packageTypeBrand]

### Retrieve Package Brand Type [POST]

The "Retrieve Package Brand Type" API endpoint allows you to fetch the branding details for a specific package. It retrieves the package branding configuration associated with the provided package ID.

When making the API call, you need to provide the following parameter:

$in: An array containing the package ID. The package ID is specified as the "packageid" parameter.
The response from this API call will be an array containing the following information:

The package branding configuration allows you to customize the appearance and content of various pages related to the package, such as the index page, deactivated page, service unavailable page, and maintenance login page.
By retrieving this configuration, you can access the default HTML content for these pages and modify them according to your needs.

Please note that the provided package ID is used to identify the specific package for which you want to fetch the branding details.


- `defaultPages`: An array representing the default pages associated with the package branding. It includes the following keys:
- `IndexPageHtml`: The HTML content of the index page.
- `DeactivatedPageHtml`: The HTML content of the deactivated page.
- `ServiceUnavailablePageHtml`: The HTML content of the service unavailable page.
- `MaintenanceLoginPageHtml`: The HTML content of the maintenance login page.

- `defaultPages`: An array representing the default pages associated with the package branding. It includes the following keys:
- `IndexPageHtml`: The HTML content of the index page.
- `DeactivatedPageHtml`: The HTML content of the deactivated page.
- `ServiceUnavailablePageHtml`: The HTML content of the service unavailable page.
- `MaintenanceLoginPageHtml`: The HTML content of the maintenance login page.
```
    <?php
    $general_api_key = "API_KEY";
[...]
